@import "tailwindcss";

#heading{
  font-family: "Montserrat", sans-serif;
}

#navlinks{
  font-family: "Poppins", sans-serif;
}

#subheading{
  font-family: "Geologica", sans-serif;
}

#paragraph{
  font-family: "Poppins", sans-serif;
}